  <div class="container">
    <h1 class="mt-4 mb-3">숙소
     <small>Reservation</small>
    </h1>
    <div class="row col-md-12" style="margin-bottom: 25px;">
      <div class="input-group">
        <input type="text" class="form-control" id="searchBar" placeholder="검색할 숙박업소 or 위치는...">
        <span class="input-group-append">
          <button class="btn btn-secondary searchBtn" type="button">검색</button>
        </span>
      </div>
    </div>
    <div class="row">
      <!-- Sidebar Widgets Column -->
        <div class="col-md-4">
          <!-- Search Widget -->
          <div class="card mb-4">
            <h5 class="card-header">Search</h5>
            <div class="card-body">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-append">
                  <button class="btn btn-secondary" type="button">Go!</button>
                </span>
              </div>
            </div>
          </div>
        </div>
        <!-- Blog Entries Column -->
        <div class="col-md-8">
          <!-- Project One -->
        <div class="row">
          <div class="col-md-7">
            <a href="#">
              <img class="img-fluid rounded mb-3 mb-md-0" src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/16/ee/66/fb/kensington-hotel-yeouido.jpg?w=700&h=300&s=1" alt="">
            </a>
          </div>
          <div class="col-md-5">
            <h3>캔싱턴</h3>
            <p>가격: </p>
            <p>인원: </p>
            <p>등등: </p>
            <a class="btn btn-primary" href="#">예약
              <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          </div>
        </div>
        <!-- /.row -->
        <hr>
        <!-- Project Two -->
        <div class="row">
          <div class="col-md-7">
            <a href="#">
              <img class="img-fluid rounded mb-3 mb-md-0" src="https://naksanbeach.co.kr/file/image.do?path=temp_uploads/2017/06/&name=f4OzzFMtYPBhkct.jpg" alt="">
            </a>
          </div>
          <div class="col-md-5">
            <h3>Project Two</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, odit velit cumque vero doloremque repellendus distinctio maiores rem expedita a nam vitae modi quidem similique ducimus! Velit, esse totam tempore.</p>
            <a class="btn btn-primary" href="#">View Project
              <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          </div>
        </div>
        <!-- /.row -->
        <hr>
        <!-- Project Three -->
        <div class="row">
          <div class="col-md-7">
            <a href="#">
              <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/700x300" alt="">
            </a>
          </div>
          <div class="col-md-5">
            <h3>Project Three</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, temporibus, dolores, at, praesentium ut unde repudiandae voluptatum sit ab debitis suscipit fugiat natus velit excepturi amet commodi deleniti alias possimus!</p>
            <a class="btn btn-primary" href="#">View Project
              <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          </div>
        </div>
        <!-- /.row -->
        <hr>
        <!-- Project Four -->
        <div class="row">
          <div class="col-md-7">
            <a href="#">
              <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/700x300" alt="">
            </a>
          </div>
          <div class="col-md-5">
            <h3>Project Four</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, quidem, consectetur, officia rem officiis illum aliquam perspiciatis aspernatur quod modi hic nemo qui soluta aut eius fugit quam in suscipit?</p>
            <a class="btn btn-primary" href="#">View Project
              <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          </div>
        </div>
        <!-- /.row -->
        <hr>
      </div>
  </div>
</div>