<header>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <!-- Slide One - Set the background image for this slide in the line below -->
      <div class="carousel-item active" style="background-image: url('https://data.joohan.com/contents/2013/11/26/20131126144820_45.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h3>Dolphin</h3>
          <p>숙박업소 예약은 Dolphin</p>
        </div>
      </div>
      <!-- Slide Two - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('https://wallpapercave.com/wp/AumsrZG.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h3>Dolphin</h3>
          <p>숙박업소 예약은 Dolphin</p>
        </div>
      </div>
      <!-- Slide Three - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('https://c4.wallpaperflare.com/wallpaper/438/714/521/marina-bay-sands-singapore-hotel-asia-wallpaper-preview.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h3>Dolphin</h3>
          <p>숙박업소 예약은 Dolphin</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</header>
<!-- Page Content -->
<div class="container" id="content">
  <div class="card-body">
    <div class="input-group">
      <input type="text" class="form-control" id="searchBar" placeholder="검색할 숙박업소 or 위치는...">
      <span class="input-group-append">
        <button class="btn btn-secondary searchBtn" type="button">검색</button>
      </span>
    </div>
  </div>
</div>
<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>