<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <!-- Bootstrap core CSS -->
    <link href="./css/common/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="./css/common/modern-business.css" rel="stylesheet">
    <!-- home -->
    <link href="./css/home/home.css" rel="stylesheet">
    {{!-- login --}}
    <link href="./css/login/{{css}}.css" rel="stylesheet">

    <link href="../css/common/bootstrap.min.css" rel="stylesheet">
    <link href="../../css/common/bootstrap.min.css" rel="stylesheet">
    <style>
      table{text-align: center;}
      #wBtn, #dBtn, #insertBtn, #cancelBtn, #goUpdateBtn, #updateBtn{float: right;
          background-color: #343A40;
          margin: 10px;
      }
      #b>button{
        float: inherit;
      }
    </style>
  </head>
  <body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">Dolphin</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="services.html">숙소</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="services.html">특가</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPages" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              문의사항
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPages">
              <a class="dropdown-item" href="/notice">공지사항</a>
              <a class="dropdown-item" href="sidebar.html">문의</a>
              <a class="dropdown-item" href="faq.html">FAQ</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">로그인</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">{{HttpSession}}</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
    {{{body}}}
  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
  </footer>
  <script src="./js/jquery/jquery.min.js"></script>
  <script src="./js/common/bootstrap.bundle.min.js"></script>
  </body>
</html>
